.alturaDiv{
    height: 100vh;
}
.disenioConsola{
    height: 55vh;
    border-radius: 20px 20px 10px 10px;
    border: 10px solid rgb(58, 60, 63);
    background-color: rgb(31, 43, 43);
}
.mandoIzquierdo{
    background-color: rgb(160, 184, 204);
    border-radius: 100px 10px 10px 100px;
    border: 2px solid black;
}
.joystickIzquierda{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: black;
}
.mandoDerecho{
    background-color: rgb(160, 184, 204);
    border-radius: 10px 100px 100px 10px;
    border: 2px solid black;
}
.configuracionBotonesVolumen{
    height: 7vh;
    font-size: 3.6em;
    font-weight: 900;
}
.configuracionJoysticks{
    height: 11vh;
}
.joysticks{
    width: 85px;
    height: 85px;
    background-color: black;
    border-radius: 50%;
    border: 5px solid rgb(64, 70, 76);
}
.configuracionBotones4{
    height: 5vh;
}
.ajusteBotones4{
    width: 40px;
    height: 40px;
    background-color: black;
    border-radius: 50%;
}
.ajusteBotones4 i{
    padding-top: 10px;
}

.alturaBotonesDeAbajo{
    height: 5vh;
}
.botonCuadrado{
    width: 35px;
    height: 35px;
    background-color: black;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.botonCirculo{
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 6px solid rgb(48, 51, 55);
}
.circuloInterior{
    width: 22px;
    height: 22px;
    background-color: rgba(97, 95, 95, 0.612);
    border-radius: 50%;
}
.casaDentroDelCuadrado{
    font-size: 1.5em;
    color:rgba(184, 183, 183, 0.612);
}
.divEspaciador{
    height: 1.5vh;
}
















































/*para futuro responsive */
/* @media(max-width:430px){
    .alturaDivResponsive{
        height: 20vh;
    }
    .disenioConsola{
        border: 8px;
        width: 53vw;
        height: 30vh !important;
    }
    .mandoIzquierdo{
        width: 15vw;
        height: 30vh;
    }
    .mandoDerecho{
        width: 15vw;
        height: 30vh;
    }
} */