.alturaDiv{
    height: 100vh;
}
.disenioConsola{
    height: 55vh;
    border-radius: 20px 20px 10px 10px;
    border: 10px solid rgb(58, 60, 63);
    background-color: rgb(31, 43, 43);
}
.mandoIzquierdo{
    background-color: rgb(160, 184, 204);
    border-radius: 100px 10px 10px 100px;
    border: 2px solid black;
}
.joystickIzquierda{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: black;
}
.mandoDerecho{
    background-color: rgb(160, 184, 204);
    border-radius: 10px 100px 100px 10px;
    border: 2px solid black;
}
.configuracionBotonesVolumen{
    height: 7vh;
    font-size: 2.6em;
    font-weight: 900;
}
.configuracionJoysticks{
    height: 10vh;
}
.configuracionBotones4{
    height: 5vh;
}
.alturaBotonesDeAbajo{
    height: 5vh;
}
.divEspaciador{
    height: 1.5vh;
}
















































/*para futuro responsive */
/* @media(max-width:430px){
    .alturaDivResponsive{
        height: 20vh;
    }
    .disenioConsola{
        border: 8px;
        width: 53vw;
        height: 30vh !important;
    }
    .mandoIzquierdo{
        width: 15vw;
        height: 30vh;
    }
    .mandoDerecho{
        width: 15vw;
        height: 30vh;
    }
} */